body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 62px);
    grid-template-rows: repeat(6, 62px);
    gap: 10px;
}

[class^="cell-"] {
    border: 2px solid lightgray;
    height: 62px;
    width: 62px;
}